.siteheader{
	text-align: center
}
.nav {
	display: inline;
	text-align: center
}
.container{
	text-align: left;
	padding: 10px auto 10px auto;
	margin-left: auto;
	margin-right: auto
}
img.coverphoto {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.table-data-right{
	text-align: right
}
.table-data-center{
	text-align: center
}
.table-data-left{
	text-align: left
}
.important-data{
	color: red;
	font-weight: bold
}
.main-content{
	padding: 5%
}
.contact-links{
	text-align: left
}
.contact{
	text-align: left
}