@font-face {
    font-family: big_john;
    src: url(../fonts/big_john_slim_joe/big_john.otf);
}

@font-face {
    font-family: noir_light;
    src: url(../fonts/noir/NoirPro-Light.ttf);
}

.nav {
position: fixed;
z-index: 9998;
width: 100%;
background-color: #fbd2e4;
top: 0px
margin-bottom:50px
}
.container{
text-align: left;
padding: 10px auto 10px auto;
margin-left: auto;
margin-right: auto
}
img.coverphoto {
display: block;
margin-left: auto;
margin-right: auto
}
.table-data-right{
text-align: right
}
.table-data-center{
text-align: left
}
.table-data-left{
text-align: left
}
.important-data{
color: red;
font-weight: bold
}
.main-content{
margin-top: 200px;
}
.contact-links{
text-align: left
}
.contact{
text-align: left
}
.anchor{
  display: block;
  height: 200px; /*same height as header*/
  margin-top: -200px; /*same height as header*/
  visibility: hidden;
}

 body {
  background-color:  #fbd2e4 ;
  font-family: noir_light;
}

details summary{
	text-decoration: underline;
	color:  #C70039 ;
}

details summary:hover {
  background-color: #e8daef ;
  margin-right:-20px;

padding-left:20px;

padding-right:20px;
}

details {
	padding-bottom: 1em;
}
a:hover{
	background-color: #e8daef ;
	color:  #C70039 ;
}
a {
	color:  #C70039 ;
}

h2 {
	font-family: big_john;
}

h3 {
	font-family: big_john;
}

h4 {
	font-family: big_john;
}

h5 {
	font-family: big_john;
}

@media (max-width: 1080px) {
  nav {
    display: none;
  }
  .container{
  	padding: 5px auto 5px auto;
  }
}